html,
body {
  scroll-behavior: smooth;
}

.nav-btn {
  display: flex;             
  align-items: center;
  justify-content: center;
  padding: 0.25rem;          
  color: #404142;
  font-size: 1.25rem;         
}
.carousel-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 2rem;
}

.review-card {
  transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scale(0.9);
  opacity: 0;
  padding: 2rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 0.75rem;
  width: 95%;
}

.card-center {
  z-index: 20;
  opacity: 1;
  transform: translateX(-50%) scale(1);
  width: 95%;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.card-left,
.card-right {
  z-index: 10;
  opacity: 0;
  padding: 2rem;
  transform: translateX(-150%) scale(0.9);
  width: 95%;
}

@media (min-width: 640px) {
  .review-card {
    transform: none;
    left: auto;
  }

  .card-center {
    width: 450px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scale(1);
  }

  .card-left {
    opacity: 0.5;
    width: 350px;
    left: 50%;
    transform: translateX(-500px) scale(0.9);
  }

  .card-right {
    opacity: 0.5;
    width: 350px;
    left: 50%;
    transform: translateX(150px) scale(0.9);
  }
}

@media (min-width: 1024px) {
  .carousel-wrapper {
    padding: 3rem;
  }

  .card-center {
    width: 500px;
  }

  .card-left,
  .card-right {
    width: 400px;
  }
}




